.collapsible-container {
  transition: height .25s;
  overflow: hidden; }
  .collapsible-container .collapsible-contents {
    overflow: hidden; }
.push-button {
  font-size: 1.2em;
  padding: 0.14em 0.5em 0.14em 0.5em;
  background-color: #cccccc;
  border: 2px outset #dddddd;
  color: #000000; }
  .push-button:disabled {
    color: #999999; }
  .push-button.emphasis {
    color: #ffffff;
    background-color: #006699;
    border: 2px outset #0088cc; }
    .push-button.emphasis:disabled {
      color: #5c8599; }
  .push-button.danger {
    color: #ffffff;
    background-color: #cc2929;
    border: 2px outset #ff3333; }
    .push-button.danger:disabled {
      color: #cc7a7a; }
  .push-button:active {
    border-style: inset; }
.combo-button {
  display: inline-block;
  position: relative; }
  .combo-button BUTTON {
    font-size: 1.2em;
    background-color: #cccccc;
    border: 2px outset #dddddd;
    color: #000000; }
    .combo-button BUTTON.main {
      padding: 0.14em 0.5em 0.14em 0.5em;
      border-right: 0; }
      .combo-button BUTTON.main:active {
        border-style: inset; }
    .combo-button BUTTON.side {
      padding: 0.14em 5px 0.14em 5px;
      border-left: 1px inset #dddddd; }
      .combo-button BUTTON.side:active {
        border-left-width: 2px;
        padding-left: 4px;
        border-style: inset; }
    .combo-button BUTTON.alert {
      -webkit-animation: blink normal 2.5s infinite ease-in-out;
              animation: blink normal 2.5s infinite ease-in-out; }

@-webkit-keyframes blink {
  50% {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #101010; } }

@keyframes blink {
  50% {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #101010; } }
  .combo-button .container {
    position: absolute;
    width: 50vw;
    right: 0;
    z-index: 1000;
    text-align: right; }
    .combo-button .container .menu {
      display: inline-block;
      border: 2px outset #dddddd;
      padding: 0.5em 0.5em 0.5em 0.5em;
      background-color: #cccccc;
      text-align: left; }
      .combo-button .container .menu .option {
        cursor: pointer;
        margin-bottom: 0.5em; }
        .combo-button .container .menu .option.disabled {
          color: #aaaaaa;
          cursor: default; }
        .combo-button .container .menu .option.separator {
          border-top: 1px solid #999999;
          padding-top: 0.5em; }
        .combo-button .container .menu .option:last-child {
          margin-bottom: 0; }
.sortable-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; }
  .sortable-table TH {
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding: 0.2em 0.4em 0.1em 0.4em; }
    .sortable-table TH .arrow {
      display: none;
      margin-left: 0.5em; }
  .sortable-table TH.asc .arrow.down {
    display: inline; }
  .sortable-table TH.desc .arrow.up {
    display: inline; }
  .sortable-table TBODY TD {
    padding: 0.3em 0.4em 0.2em 0.4em;
    word-wrap: break-word;
    transition: padding-top 0.5s, padding-bottom 0.5s; }
  .sortable-table TBODY TR {
    background-color: #ffffff;
    transition: background-color 0.5s, opacity 0.5s; }
    .sortable-table TBODY TR.pending {
      opacity: 0.5 !important; }
    .sortable-table TBODY TR.disabled {
      opacity: 0.3 !important; }
    .sortable-table TBODY TR.deleted {
      opacity: 0.15 !important; }
  .sortable-table TBODY TR:nth-child(even) {
    background-color: #eeeeee; }
  .sortable-table .collapsible-container {
    transition: height 0.5s; }
  .sortable-table A:link, .sortable-table A:visited {
    color: #000000;
    text-decoration: none; }
    .sortable-table A:link:hover, .sortable-table A:visited:hover {
      color: #004466; }
  .sortable-table.expandable TBODY TR {
    background-color: #ffffff; }
    .sortable-table.expandable TBODY TR.collapsed {
      opacity: 0; }
      .sortable-table.expandable TBODY TR.collapsed TD {
        padding-top: 0;
        padding-bottom: 0; }
    .sortable-table.expandable TBODY TR.expanded {
      opacity: 1; }
      .sortable-table.expandable TBODY TR.expanded TD {
        padding-top: 0.3em;
        padding-bottom: 0.2em; }
  .sortable-table.selectable TBODY TR {
    cursor: pointer; }
    .sortable-table.selectable TBODY TR.selected {
      background-color: #99ddff;
      opacity: 1 !important; }
.tooltip {
  position: relative;
  display: inline-block; }
  .tooltip.live .label {
    cursor: pointer; }
  .tooltip .window-container {
    position: absolute;
    top: 100%;
    left: 0.5em;
    width: 50vw;
    z-index: 100;
    margin-top: 0.2em; }
  .tooltip.upward .window-container {
    top: auto;
    bottom: 100%;
    margin-bottom: 0.2em; }
  .tooltip.leftward .window-container {
    left: auto;
    right: 0.3em; }
    .tooltip.leftward .window-container .window {
      float: right; }
  .tooltip .window {
    display: inline-block;
    padding: 0.4em 0.5em 0.4em 0.5em;
    border: 1px solid black;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75); }
.resource-view {
  display: inline-block; }
  .resource-view.loading {
    position: relative;
    width: 100%; }
    .resource-view.loading IMG {
      position: absolute; }
.profile-image.small {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle; }

.profile-image.large {
  width: 6em;
  height: 6em;
  vertical-align: middle; }

svg.profile-image {
  background-color: #999999; }
.tooltip.user .item {
  margin-bottom: 2px;
  vertical-align: middle; }

.tooltip.user .ellipsis {
  text-align: center;
  color: #999999;
  padding-bottom: 0.2em; }

.tooltip.user .bottom {
  font-size: 0.9em;
  text-align: center;
  border-top: 1px solid #999999;
  padding-top: 0.2em; }
  .tooltip.user .bottom A {
    display: block; }
.instruction-block {
  transition: opacity 0.5s linear 0.5s;
  opacity: 1; }
  .instruction-block .contents {
    overflow: hidden;
    padding: 0 1em 0 1em;
    min-width: 15em;
    margin-bottom: 1em;
    background: #99ddff;
    background: linear-gradient(135deg, transparent 0.6em, #99ddff 0) top left, linear-gradient(225deg, transparent 0.6em, #99ddff 0) top right, linear-gradient(315deg, transparent 0.6em, #99ddff 0) bottom right, linear-gradient(45deg, transparent 0.6em, #99ddff 0) bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat; }
  .instruction-block .collapsible-container {
    transition: height 1s;
    overflow: visible; }
    .instruction-block .collapsible-container.collapsing {
      transition: height 1s linear 0.5s;
      pointer-events: none; }
  .instruction-block.hidden {
    opacity: 0;
    pointer-events: none; }
.autosize-text-area {
  position: relative; }
  .autosize-text-area TEXTAREA {
    width: 100%;
    resize: vertical; }
  .autosize-text-area .shadow {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 1em !important;
    max-height: 1em !important;
    visibility: hidden; }
.text-field {
  margin-bottom: 1em; }
  .text-field label {
    display: block;
    font-weight: 600; }
  .text-field input[type=text],
  .text-field input[type=password],
  .text-field input[type=email],
  .text-field input[type=url],
  .text-field input[type=tel],
  .text-field textarea {
    display: block;
    width: 100%;
    transition: border-color 1s ease-out;
    border: 1px solid #000000;
    font-size: 1em;
    margin-top: 2px;
    padding: 2px 2px 1px 4px; }
  .text-field textarea {
    resize: none; }
  .text-field.readonly input[type=text],
  .text-field.readonly input[type=password],
  .text-field.readonly input[type=email],
  .text-field.readonly input[type=url],
  .text-field.readonly input[type=tel],
  .text-field.readonly textarea {
    border-color: #ffffff;
    cursor: text;
    outline: none; }
.multilingual-text-field {
  margin-bottom: 1em; }
  .multilingual-text-field label {
    display: block;
    font-weight: 600; }
  .multilingual-text-field input[type=text],
  .multilingual-text-field textarea {
    display: block;
    width: 100%;
    transition: border-color 1s ease-out;
    border: 1px solid #000000;
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 0;
    padding: 2px 2px 1px 4px; }
  .multilingual-text-field textarea {
    resize: none; }
  .multilingual-text-field.multiple-languages input[type=text],
  .multilingual-text-field.multiple-languages textarea {
    border-bottom: 0;
    padding-bottom: 2px; }
  .multilingual-text-field .tabs {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #000000;
    border: 1px solid #000000;
    border-top: 0;
    transition: border-color 1s ease-out; }
  .multilingual-text-field .tab {
    flex: 1 1 auto;
    text-align: center;
    font-variant: small-caps;
    color: #ffffff;
    font-size: 0.8em;
    padding: 0.25em 0 0.25em 0;
    transition: font-size 0.25s;
    cursor: pointer; }
    .multilingual-text-field .tab.selected {
      color: #000000;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background: linear-gradient(45deg, transparent 1.2em, #fff 0) bottom left;
      cursor: default; }
      .multilingual-text-field .tab.selected:first-child {
        background: linear-gradient(315deg, transparent 1.2em, #fff 0) bottom right; }
  .multilingual-text-field .bubble {
    position: absolute;
    left: 0;
    right: 0;
    top: 3em;
    z-index: 100; }
    .multilingual-text-field .bubble .arrow {
      position: absolute;
      top: 0;
      left: 8px;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-bottom-color: #e0e0e0;
      border-top: 0;
      margin-left: -8px;
      margin-top: -8px; }
    .multilingual-text-field .bubble .box {
      background: #e0e0e0;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
      padding: 6px 4px 4px 4px;
      margin-left: 1em;
      margin-right: 1em;
      white-space: pre-line; }
  .multilingual-text-field.readonly input[type=text],
  .multilingual-text-field.readonly textarea {
    border-color: #ffffff;
    cursor: text;
    outline: none; }
  .multilingual-text-field.readonly .tabs {
    background-color: #ffffff;
    border-color: #ffffff; }
  .multilingual-text-field.readonly .tab {
    color: #999999; }
    .multilingual-text-field.readonly .tab .selected {
      color: #000000; }
  .multilingual-text-field.collapsed .tab {
    font-size: 0; }
.option-list {
  margin-bottom: 1em; }
  .option-list label {
    display: block;
    font-weight: 600; }
  .option-list .container {
    margin-top: 3px;
    border: 1px solid #000000;
    transition: border-color 1s ease-out;
    max-height: 30em;
    min-height: 1em;
    overflow: auto;
    clear: both; }
  .option-list .sortable-table TD {
    padding-left: 4px; }
  .option-list .badge {
    float: right;
    margin-top: 0.1em; }
    .option-list .badge.add {
      color: #009900; }
    .option-list .badge.remove {
      color: #cc0000; }
  .option-list.readonly .container {
    border-color: #ffffff; }
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 5000;
  overscroll-behavior: contain;
  -ms-scroll-chaining: none; }
  .overlay .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    transition: opacity 0.5s; }
  .overlay .foreground {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    transition: opacity 0.25s, top 0.25s; }
  .overlay.show .background {
    opacity: 0.75; }
  .overlay.show .foreground {
    opacity: 1; }
  .overlay.hide .background {
    opacity: 0; }
  .overlay.hide .foreground {
    top: -30px;
    opacity: 0; }
.image-cropper {
  overflow: hidden; }
  .image-cropper CANVAS, .image-cropper svg {
    width: 100%;
    height: auto;
    display: block; }
.image-cropping-dialog-box {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #006699;
  color: #ffffff;
  padding: 1em 1em 1em 1em;
  box-shadow: 5px 5px 4px #000000; }
  .image-cropping-dialog-box .image {
    max-width: 80vw;
    max-height: 80vh;
    margin-bottom: 0.8em; }
  .image-cropping-dialog-box .buttons {
    flex: 0 0 auto;
    border-top: 1px solid #ffffff;
    padding-top: 0.8em; }
    .image-cropping-dialog-box .buttons .left {
      float: left; }
    .image-cropping-dialog-box .buttons .right {
      float: right; }
.image-album-dialog-box {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #006699;
  color: #ffffff;
  width: 80vw;
  max-height: 60vh;
  padding: 1em 1em 1em 1em;
  box-shadow: 5px 5px 4px #000000; }
  .image-album-dialog-box .scrollable {
    flex: 1 1 auto;
    margin-bottom: 0.5em;
    min-height: 30vh;
    text-align: center;
    overflow: auto; }
    .image-album-dialog-box .scrollable .picture {
      display: inline-block;
      border: 5px solid #ffffff;
      margin: 0.3em 0.4em 0.3em 0.4em;
      cursor: pointer; }
      .image-album-dialog-box .scrollable .picture * {
        display: block; }
      .image-album-dialog-box .scrollable .picture.selected {
        border-color: #99ddff; }
      .image-album-dialog-box .scrollable .picture.deleting {
        border-color: #ff9999; }
      .image-album-dialog-box .scrollable .picture.disabled {
        cursor: wait; }
  .image-album-dialog-box .buttons {
    flex: 0 0 auto;
    border-top: 1px solid #ffffff;
    padding-top: 0.8em; }
    .image-album-dialog-box .buttons .left {
      float: left; }
    .image-album-dialog-box .buttons .right {
      float: right; }
    .image-album-dialog-box .buttons label.push-button {
      display: inline-block;
      vertical-align: top;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .image-album-dialog-box .buttons label.push-button INPUT[type="file"] {
        position: absolute;
        z-index: -50000;
        width: 1px;
        height: 1px; }
  .image-album-dialog-box .drop-target {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 4px solid #ffff66;
    background-color: rgba(255, 255, 102, 0.2); }
.image-selector {
  margin-bottom: 1em;
  overflow: hidden; }
  .image-selector label {
    display: block;
    font-weight: 600; }
  .image-selector .contents {
    margin-top: 4px; }
    .image-selector .contents .image {
      float: left;
      z-index: 1; }
      .image-selector .contents .image A {
        display: block; }
      .image-selector .contents .image IMG, .image-selector .contents .image CANVAS, .image-selector .contents .image svg {
        height: 120px;
        width: auto; }
      .image-selector .contents .image .placeholder {
        display: block;
        position: relative;
        background-color: #eeeeee; }
        .image-selector .contents .image .placeholder .fa {
          display: block;
          position: absolute;
          font-size: 2em;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          height: 1em;
          width: 1em; }
    .image-selector .contents .options {
      margin-left: 0.35em;
      transition: opacity 1s;
      z-index: 0;
      overflow: hidden;
      display: inline-block; }
      .image-selector .contents .options .option {
        display: block;
        font-weight: normal;
        padding: 0.25em 0.4em 0.15em 0.4em;
        cursor: pointer; }
        .image-selector .contents .options .option INPUT[type="file"] {
          position: absolute;
          z-index: -50000;
          width: 1px;
          height: 1px; }
        .image-selector .contents .options .option:hover {
          background-color: #99ddff; }
        .image-selector .contents .options .option.disabled {
          cursor: default;
          color: #999999; }
          .image-selector .contents .options .option.disabled:hover {
            background-color: transparent; }
  .image-selector.readonly .options {
    opacity: 0; }
    .image-selector.readonly .options .option {
      cursor: default; }
.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  line-height: 1; }

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: flex; }

.ct-chart-pie .ct-label,
.ct-chart-donut .ct-label {
  dominant-baseline: central; }

.ct-label.ct-horizontal.ct-start {
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-horizontal.ct-end {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-vertical.ct-start {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-label.ct-vertical.ct-end {
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end; }

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px; }

.ct-grid-background {
  fill: none; }

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round; }

.ct-line {
  fill: none;
  stroke-width: 4px; }

.ct-area {
  stroke: none;
  fill-opacity: 0.1; }

.ct-bar {
  fill: none;
  stroke-width: 10px; }

.ct-slice-donut {
  fill: none;
  stroke-width: 60px; }

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #e67300; }

.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
  fill: #e67300; }

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #a1a112; }

.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
  fill: #a1a112; }

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #73e600; }

.ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area {
  fill: #73e600; }

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #0d730d; }

.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {
  fill: #0d730d; }

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #00e673; }

.ct-series-e .ct-slice-pie, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-area {
  fill: #00e673; }

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: #12a1a1; }

.ct-series-f .ct-slice-pie, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-area {
  fill: #12a1a1; }

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #0073e6; }

.ct-series-g .ct-slice-pie, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-area {
  fill: #0073e6; }

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #0d0d73; }

.ct-series-h .ct-slice-pie, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-area {
  fill: #0d0d73; }

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #7300e6; }

.ct-series-i .ct-slice-pie, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-area {
  fill: #7300e6; }

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #a112a1; }

.ct-series-j .ct-slice-pie, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-area {
  fill: #a112a1; }

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: #e60073; }

.ct-series-k .ct-slice-pie, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-area {
  fill: #e60073; }

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: #730d0d; }

.ct-series-l .ct-slice-pie, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-area {
  fill: #730d0d; }

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: #a17d12; }

.ct-series-m .ct-slice-pie, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-area {
  fill: #a17d12; }

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: #53661a; }

.ct-series-n .ct-slice-pie, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-area {
  fill: #53661a; }

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: #36a112; }

.ct-series-o .ct-slice-pie, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-area {
  fill: #36a112; }

.ct-series-p .ct-point, .ct-series-p .ct-line, .ct-series-p .ct-bar, .ct-series-p .ct-slice-donut {
  stroke: #0f3d1b; }

.ct-series-p .ct-slice-pie, .ct-series-p .ct-slice-donut-solid, .ct-series-p .ct-area {
  fill: #0f3d1b; }

.ct-series-q .ct-point, .ct-series-q .ct-line, .ct-series-q .ct-bar, .ct-series-q .ct-slice-donut {
  stroke: #12a17d; }

.ct-series-q .ct-slice-pie, .ct-series-q .ct-slice-donut-solid, .ct-series-q .ct-area {
  fill: #12a17d; }

.ct-series-r .ct-point, .ct-series-r .ct-line, .ct-series-r .ct-bar, .ct-series-r .ct-slice-donut {
  stroke: #1a5366; }

.ct-series-r .ct-slice-pie, .ct-series-r .ct-slice-donut-solid, .ct-series-r .ct-area {
  fill: #1a5366; }

.ct-series-s .ct-point, .ct-series-s .ct-line, .ct-series-s .ct-bar, .ct-series-s .ct-slice-donut {
  stroke: #1236a1; }

.ct-series-s .ct-slice-pie, .ct-series-s .ct-slice-donut-solid, .ct-series-s .ct-area {
  fill: #1236a1; }

.ct-series-t .ct-point, .ct-series-t .ct-line, .ct-series-t .ct-bar, .ct-series-t .ct-slice-donut {
  stroke: #1b0f3d; }

.ct-series-t .ct-slice-pie, .ct-series-t .ct-slice-donut-solid, .ct-series-t .ct-area {
  fill: #1b0f3d; }

.ct-series-u .ct-point, .ct-series-u .ct-line, .ct-series-u .ct-bar, .ct-series-u .ct-slice-donut {
  stroke: #7d12a1; }

.ct-series-u .ct-slice-pie, .ct-series-u .ct-slice-donut-solid, .ct-series-u .ct-area {
  fill: #7d12a1; }

.ct-series-v .ct-point, .ct-series-v .ct-line, .ct-series-v .ct-bar, .ct-series-v .ct-slice-donut {
  stroke: #661a53; }

.ct-series-v .ct-slice-pie, .ct-series-v .ct-slice-donut-solid, .ct-series-v .ct-area {
  fill: #661a53; }

.ct-series-w .ct-point, .ct-series-w .ct-line, .ct-series-w .ct-bar, .ct-series-w .ct-slice-donut {
  stroke: #a11236; }

.ct-series-w .ct-slice-pie, .ct-series-w .ct-slice-donut-solid, .ct-series-w .ct-area {
  fill: #a11236; }

.ct-series-x .ct-point, .ct-series-x .ct-line, .ct-series-x .ct-bar, .ct-series-x .ct-slice-donut {
  stroke: #3d1b0f; }

.ct-series-x .ct-slice-pie, .ct-series-x .ct-slice-donut-solid, .ct-series-x .ct-area {
  fill: #3d1b0f; }

.ct-square {
  display: block;
  position: relative;
  width: 100%; }
  .ct-square:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 100%; }
  .ct-square:after {
    content: "";
    display: table;
    clear: both; }
  .ct-square > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 93.75%; }
  .ct-minor-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 88.88889%; }
  .ct-major-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 83.33333%; }
  .ct-minor-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 80%; }
  .ct-major-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-perfect-fourth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 75%; }
  .ct-perfect-fourth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-perfect-fourth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-perfect-fifth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 66.66667%; }
  .ct-perfect-fifth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-perfect-fifth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 62.5%; }
  .ct-minor-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%; }
  .ct-golden-section:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 61.8047%; }
  .ct-golden-section:after {
    content: "";
    display: table;
    clear: both; }
  .ct-golden-section > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 60%; }
  .ct-major-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-minor-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 56.25%; }
  .ct-minor-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-minor-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 53.33333%; }
  .ct-major-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 50%; }
  .ct-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-tenth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 40%; }
  .ct-major-tenth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-tenth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-eleventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 37.5%; }
  .ct-major-eleventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-eleventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-major-twelfth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 33.33333%; }
  .ct-major-twelfth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-major-twelfth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-double-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 25%; }
  .ct-double-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-double-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.activity-chart {
  margin-bottom: 1em; }
  .activity-chart h2 {
    float: left;
    margin: 0; }
  .activity-chart .legend {
    text-align: right;
    font-size: 0.8em;
    margin-bottom: 1em;
    padding-top: 0.25em; }
    .activity-chart .legend .item {
      display: inline-block;
      white-space: nowrap;
      margin-left: 0.6em;
      margin-top: 0.25em; }
      .activity-chart .legend .item .ct-chart-bar {
        width: 0.8em;
        height: 0.8em;
        vertical-align: middle;
        margin-right: 0.3em; }
      .activity-chart .legend .item .label {
        vertical-align: middle; }
  .activity-chart .scroll-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow-y: hidden;
    overflow-x: auto;
    clear: both; }
    .activity-chart .scroll-container .contents {
      flex: 0 0 auto; }
  .activity-chart .ct-label.ct-horizontal.ct-end {
    min-width: 10em;
    justify-content: flex-start;
    text-align: left; }
  .activity-chart .ct-label.ct-vertical.ct-start {
    justify-content: flex-start;
    text-align: left; }
  .activity-chart .ct-line {
    stroke-linecap: round;
    stroke-width: 2px; }
  .activity-chart .ct-grid.ct-horizontal.month-start {
    stroke: #000000;
    stroke-width: 1px;
    stroke-dasharray: none; }
  .activity-chart .ct-grid.ct-horizontal.today {
    stroke-width: 1px;
    stroke-dasharray: none; }
  .activity-chart .ct-chart svg {
    margin-bottom: -0.75em; }
.input-error {
  font-weight: normal;
  float: right;
  color: #cc0000; }
  .input-error.warning {
    color: #cc6600; }
.confirmation-dialog-box {
  background-color: #006699;
  color: #ffffff;
  max-width: 50vw;
  padding: 1em 1em 1em 1em;
  box-shadow: 5px 5px 4px #000000; }
  .confirmation-dialog-box .message {
    font-size: 1.6em;
    margin-bottom: 0.5em; }
  .confirmation-dialog-box .buttons {
    border-top: 1px solid #ffffff;
    text-align: right;
    padding-top: 1em; }
.unexpected-error {
  text-align: right;
  font-size: 1.25em;
  color: #cc0000;
  margin-bottom: 0.5em; }
  .unexpected-error.warning {
    color: #cc6600; }
.user-summary-page .buttons {
  float: right; }

.user-summary-page .form {
  float: left;
  max-width: 40em;
  min-width: 20em;
  width: 50%;
  padding-left: 0.5em;
  margin-right: 2em; }
  .user-summary-page .form.social {
    clear: left; }

.user-summary-page .social-toggle {
  float: left;
  clear: left;
  margin-top: 0;
  cursor: pointer; }
  .user-summary-page .social-toggle:hover {
    color: #004466; }

.user-summary-page .instructions {
  padding-top: 1.2em; }

.user-summary-page .statistics {
  clear: both; }
.tooltip.activity .window {
  padding-bottom: 0.2em; }

.tooltip.activity .item {
  margin-bottom: 2px; }

.tooltip.activity .icon {
  height: 1.1em;
  vertical-align: middle;
  margin-bottom: 0.2em;
  margin-right: 0.2em; }
.tooltip.role .item {
  margin-bottom: 0.2em; }

.tooltip.role .bottom {
  font-size: 0.9em;
  text-align: center;
  border-top: 1px solid #999999;
  padding-top: 0.2em; }
  .tooltip.role .bottom A {
    display: block; }
.role-summary-page .buttons {
  float: right; }

.role-summary-page .form {
  float: left;
  max-width: 40em;
  min-width: 20em;
  width: 50%;
  padding-left: 0.5em;
  margin-right: 2em; }

.role-summary-page .instructions {
  padding-top: 1.2em; }
.action-badge {
  font-size: 0.7em;
  color: #ffffff;
  padding: 2px 4px 2px 4px;
  float: right;
  text-transform: uppercase;
  margin-left: 0.1em; }
  .action-badge .fa {
    margin-right: 2px; }
  .action-badge.add {
    background-color: #009900; }
  .action-badge.remove {
    background-color: #cc0000; }
.role-list-page .buttons {
  float: right; }

.role-list-page .sortable-table #mtime {
  width: 12em; }

.role-list-page .sortable-table #users {
  width: 10em; }

.role-list-page .sortable-table #mtime {
  width: 12em; }
.member-list-page .buttons {
  float: right;
  margin-left: 0.4em; }

.member-list-page .sortable-table #type {
  width: 10em; }

.member-list-page .sortable-table #roles {
  width: 10em; }

.member-list-page .sortable-table #range {
  width: 15em; }

.member-list-page .sortable-table #to_date, .member-list-page .sortable-table #last_month, .member-list-page .sortable-table #this_month {
  width: 12em; }

.member-list-page .sortable-table #mtime {
  width: 10em; }

.member-list-page .sortable-table .action-badge {
  margin-top: 0.35em; }
.tooltip.project .item {
  margin-bottom: 0.2em; }

.tooltip.project .bottom {
  font-size: 0.9em;
  text-align: center;
  border-top: 1px solid #999999;
  padding-top: 0.2em; }
  .tooltip.project .bottom A {
    display: block; }
.project-summary-page .buttons {
  float: right; }

.project-summary-page .form {
  float: left;
  max-width: 40em;
  min-width: 20em;
  width: 50%;
  padding-left: 0.5em;
  margin-right: 2em; }

.project-summary-page .instructions {
  padding-top: 1.2em; }

.project-summary-page .statistics {
  clear: both; }
.user-list-page .buttons {
  float: right; }

.user-list-page .sortable-table #username {
  width: 12em; }

.user-list-page .sortable-table #type {
  width: 10em; }

.user-list-page .sortable-table #roles {
  width: 10em; }

.user-list-page .sortable-table #projects {
  width: 12em; }

.user-list-page .sortable-table #email {
  width: 12em; }

.user-list-page .sortable-table #mtime {
  width: 10em; }

.user-list-page .sortable-table .action-badge {
  margin-top: 0.35em; }

.user-list-page .sortable-table .email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.tooltip.repository .item {
  margin-bottom: 0.2em; }

.tooltip.repository .bottom {
  font-size: 0.9em;
  text-align: center;
  border-top: 1px solid #999999;
  padding-top: 0.2em; }
  .tooltip.repository .bottom A {
    display: block; }
.repo-summary-page .buttons {
  float: right; }

.repo-summary-page .form {
  float: left;
  max-width: 40em;
  min-width: 20em;
  width: 50%;
  padding-left: 0.5em;
  margin-right: 2em; }

.repo-summary-page .instructions {
  padding-top: 1.2em; }

.repo-summary-page .statistics {
  clear: both; }
.repo-list-page .buttons {
  float: right; }

.repo-list-page .sortable-table #type {
  width: 12em; }

.repo-list-page .sortable-table #server {
  width: 12em; }

.repo-list-page .sortable-table #issue_tracker {
  width: 14em; }

.repo-list-page .sortable-table #range {
  width: 15em; }

.repo-list-page .sortable-table #to_date, .repo-list-page .sortable-table #last_month, .repo-list-page .sortable-table #this_month {
  width: 12em; }

.repo-list-page .sortable-table #mtime {
  width: 10em; }
.smart-list .slot.transition {
  overflow: hidden;
  opacity: 1; }
  .smart-list .slot.transition.in {
    transition: height 0.5s ease-out 0.0s, margin-top 0.5s ease-out 0.0s, margin-bottom 0.5s ease-out 0.0s, opacity 0.5s linear 0.2s; }
  .smart-list .slot.transition.out {
    transition: height 0.5s ease-in 0.2s, margin-top 0.5s ease-in 0.2s, margin-bottom 0.5s ease-in 0.2s, opacity 0.5s linear 0.0s; }
  .smart-list .slot.transition.hidden {
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    opacity: 0;
    height: 0;
    margin-top: 0;
    margin-bottom: 0; }
.task-list {
  max-height: 25em;
  overflow-y: auto;
  padding: 0 0.5em 0 0.5em;
  margin-bottom: 1em; }
  .task-list .task {
    clear: both;
    padding: 0.25em 0.25em 0.2em 0.25em;
    overflow: hidden; }
    .task-list .task .summary {
      cursor: pointer; }
    .task-list .task .start-time {
      float: left;
      margin-right: 1em; }
    .task-list .task .message {
      float: left;
      margin-right: 1em; }
      .task-list .task .message .fa {
        margin-left: 0.5em; }
    .task-list .task .duration {
      display: inline-block;
      float: right;
      margin-left: 1em; }
    .task-list .task .progress-bar-frame {
      display: inline-block;
      float: right;
      width: 7em;
      border: 1px solid #000000;
      margin-top: 0.2em;
      margin-left: 0.5em; }
      .task-list .task .progress-bar-frame .bar {
        background-color: #0077b3;
        height: 0.6em; }
    .task-list .task.expanded {
      background: #99ddff; }
    .task-list .task .details {
      clear: both;
      margin-top: 0.25em;
      padding-top: 0.25em; }
      .task-list .task .details .item {
        display: inline-block;
        color: #000000;
        max-width: 8em;
        padding: 0.15em 0.5em 0.15em 0.5em;
        margin-right: 0.3em;
        text-align: center;
        text-overflow: ellipsis;
        border: 1px solid black;
        overflow: hidden;
        white-space: nowrap; }
        .task-list .task .details .item.added {
          background-color: #99ee66; }
        .task-list .task .details .item.deleted {
          background-color: #ee3333; }
        .task-list .task .details .item.modified {
          background-color: #66aaff; }
    .task-list .task .error {
      font-size: 0.8em;
      clear: both;
      white-space: pre-wrap;
      padding-top: 0.35em;
      padding-bottom: 0.35em;
      border-top: 1px solid #551111; }
    .task-list .task.failure {
      color: #551111; }
      .task-list .task.failure .progress-bar-frame {
        border-color: #551111; }
        .task-list .task.failure .progress-bar-frame .bar {
          background-color: #ff6666; }
      .task-list .task.failure .details {
        border-top-color: #551111; }
.server-summary-page .buttons {
  float: right; }

.server-summary-page .form {
  float: left;
  max-width: 40em;
  min-width: 20em;
  width: 50%;
  padding-left: 0.5em;
  margin-right: 2em; }

.server-summary-page .instructions {
  padding-top: 1.2em; }

.server-summary-page .task-history {
  clear: both; }

.server-summary-page .fa-arrow-right {
  margin-left: 0.3em;
  margin-right: 0.15em; }
.server-list-page .buttons {
  float: right; }

.server-list-page .sortable-table #type {
  width: 10em; }

.server-list-page .sortable-table #oauth {
  width: 14em; }

.server-list-page .sortable-table #api {
  width: 12em; }

.server-list-page .sortable-table #users {
  width: 10em; }

.server-list-page .sortable-table #mtime {
  width: 10em; }
.project-list-page .buttons {
  float: right; }

.project-list-page .sortable-table #users {
  width: 10em; }

.project-list-page .sortable-table #repos {
  width: 10em; }

.project-list-page .sortable-table #range {
  width: 15em; }

.project-list-page .sortable-table #to_date, .project-list-page .sortable-table #last_month, .project-list-page .sortable-table #this_month {
  width: 10em; }

.project-list-page .sortable-table #mtime {
  width: 10em; }
.settings-page .buttons {
  float: right; }

.settings-page .form {
  float: left;
  max-width: 40em;
  min-width: 20em;
  width: 50%;
  padding-left: 0.5em;
  margin-right: 2em; }

.settings-page .instructions {
  padding-top: 1.2em; }

.settings-page .option-list .pos {
  background-color: #000000;
  color: #eeeeee;
  display: inline-block;
  font-size: 0.7em;
  padding: 0.1em 0.4em 0.1em 0.4em;
  border-radius: 1em;
  vertical-align: 0.07em; }
.start-page {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: fade-in-out;
          animation-name: fade-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  opacity: 0; }

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-in-out {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .start-page h2 {
    font-size: 3em;
    text-transform: uppercase; }
.sign-in-page FORM {
  max-width: 20em; }
  .sign-in-page FORM .button-row {
    margin-top: -0.5em;
    text-align: right; }
  .sign-in-page FORM .error {
    color: #cc0000;
    margin-bottom: 1em; }

.sign-in-page .oauth-button {
  display: table;
  border: 1px solid #000000;
  width: 100%;
  max-width: 20em;
  margin-top: 0.5em; }
  .sign-in-page .oauth-button .icon {
    width: 2em;
    display: table-cell;
    font-size: 2em;
    padding: 0.26em 0 0.24em 0.25em;
    text-align: center;
    vertical-align: middle; }
  .sign-in-page .oauth-button .label {
    display: table-cell;
    font-size: 1.25em;
    padding-right: 2.5em;
    text-align: center;
    vertical-align: middle; }
  .sign-in-page .oauth-button .error {
    display: table-cell;
    padding-left: 1.25em;
    padding-right: 1.5em;
    vertical-align: middle; }
  .sign-in-page .oauth-button:link, .sign-in-page .oauth-button:visited {
    text-decoration: none;
    color: #000000; }
  .sign-in-page .oauth-button.error {
    border-color: #990000;
    color: #990000; }
  .sign-in-page .oauth-button:hover, .sign-in-page .oauth-button:active {
    background-color: #99ddff;
    color: #000000; }
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh; }
  .error-page .text {
    max-width: 20em;
    line-height: 135%;
    margin-left: 1em;
    margin-right: 1em; }
    .error-page .text h1 {
      text-align: center; }
  .error-page .graphic {
    margin-left: 1em;
    margin-right: 1em; }
    .error-page .graphic svg {
      width: 100%;
      max-width: 20em; }
.navigation-tree {
  position: relative; }
  .navigation-tree .level1 {
    font-size: 1.4em;
    padding-left: 2em;
    margin-bottom: 0.5em; }
  .navigation-tree .level2 {
    font-size: 0.8em;
    padding-left: 0.5em;
    margin-top: 0.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .navigation-tree .level3 {
    font-size: 0.95em;
    padding-left: 0.6em;
    margin-top: 0.2em; }
  .navigation-tree .level4 {
    font-size: 0.95em;
    padding-left: 0.5em;
    margin-top: 0.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .navigation-tree A {
    cursor: default; }
    .navigation-tree A:link, .navigation-tree A:visited {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer; }
      .navigation-tree A:link:hover, .navigation-tree A:visited:hover {
        color: #99ddff; }
  .navigation-tree .collapsible-container {
    transition: height .25s; }
  .navigation-tree .arrow {
    position: absolute;
    font-size: 1.2em;
    left: 16px;
    opacity: 1;
    transition: top 0.5s, opacity 0.8s; }
    .navigation-tree .arrow .second, .navigation-tree .arrow .third, .navigation-tree .arrow .fourth {
      position: absolute;
      transition: left 0.3s; }
    .navigation-tree .arrow.extending .second, .navigation-tree .arrow.extending .third, .navigation-tree .arrow.extending .fourth {
      transition: left 0.3s linear 0.3s; }
    .navigation-tree .arrow.retracting {
      transition: top 0.5s linear 0.2s, opacity 0.8s linear 0.2s; }
    .navigation-tree .arrow.zero {
      visibility: hidden;
      opacity: 0; }
    .navigation-tree .arrow.one .second, .navigation-tree .arrow.one .third, .navigation-tree .arrow.one .fourth {
      left: 0px; }
    .navigation-tree .arrow.two .second, .navigation-tree .arrow.two .third, .navigation-tree .arrow.two .fourth {
      left: 0.5em; }
    .navigation-tree .arrow.three .second {
      left: 0.5em; }
    .navigation-tree .arrow.three .third, .navigation-tree .arrow.three .fourth {
      left: 1em; }
    .navigation-tree .arrow.four .second {
      left: 0.5em; }
    .navigation-tree .arrow.four .third {
      left: 1em; }
    .navigation-tree .arrow.four .fourth {
      left: 1.5em; }
  .navigation-tree.disabled A {
    color: #2483b3; }
  .navigation-tree.disabled .arrow {
    opacity: 0; }
.sign-off-menu {
  text-align: center;
  padding-top: 0.25em;
  min-width: 5em; }
  .sign-off-menu A {
    display: block;
    cursor: pointer; }
    .sign-off-menu A:link, .sign-off-menu A:visited {
      color: #777777;
      text-decoration: none; }
    .sign-off-menu A:hover {
      color: #004466; }
  .sign-off-menu .name {
    padding: 0.5em 0.25em 0.25em 0.25em;
    text-align: center; }
  .sign-off-menu .sign-off {
    text-align: center;
    padding: 0.5em 0.25em 0 0.25em;
    border-top: 1px solid #dddddd;
    color: #777777;
    cursor: pointer; }
    .sign-off-menu .sign-off:hover {
      color: #004466; }
.side-navigation {
  flex: 1 1 auto;
  position: relative;
  color: #fff;
  background-color: #006699;
  min-width: 15em;
  max-width: 20em; }
  .side-navigation HEADER {
    overflow: hidden;
    margin-bottom: 1em; }
  .side-navigation .logo {
    float: left;
    margin: 10px 16px 8px 16px;
    width: 32px;
    height: 40px; }
  .side-navigation .app-name {
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 1s ease-out 0.6s; }
  .side-navigation .navigation-tree {
    opacity: 1;
    transition: opacity 1s ease-out 1s; }
  .side-navigation .bottom-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #005580;
    transition: bottom 1s linear 1s; }
    .side-navigation .bottom-buttons .button {
      position: relative;
      float: left; }
      .side-navigation .bottom-buttons .button.country .label {
        border-left: 1px solid #006699; }
      .side-navigation .bottom-buttons .button.user {
        float: right; }
        .side-navigation .bottom-buttons .button.user .label {
          border-left: 1px solid #006699; }
        .side-navigation .bottom-buttons .button.user .window-container {
          left: auto;
          right: 0.1em; }
      .side-navigation .bottom-buttons .button .tooltip .label {
        display: inline-block;
        color: #0077b3;
        padding: 0.4em 0.5em 0.3em 0.5em; }
      .side-navigation .bottom-buttons .button .tooltip.live .label {
        cursor: pointer; }
        .side-navigation .bottom-buttons .button .tooltip.live .label:hover {
          color: #99ddff; }
      .side-navigation .bottom-buttons .button .tooltip .item {
        color: #777777;
        margin-top: 0.25em;
        margin-right: 0.25em;
        cursor: pointer; }
        .side-navigation .bottom-buttons .button .tooltip .item .fa {
          visibility: hidden; }
        .side-navigation .bottom-buttons .button .tooltip .item.selected {
          cursor: default;
          color: #0077b3; }
          .side-navigation .bottom-buttons .button .tooltip .item.selected .fa {
            visibility: visible; }
  .side-navigation.hidden .app-name, .side-navigation.hidden .navigation-tree {
    opacity: 0; }
  .side-navigation.hidden .bottom-buttons {
    bottom: -2em; }
.task-alert-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #005580;
  padding: 0.4em 0.5em 0.3em 0.5em;
  border-left: 1px solid #006699;
  text-align: right;
  transition: bottom 0.4s; }
  .task-alert-bar .progress-bar-frame {
    display: inline-block;
    width: 10em;
    border: 1px solid #0077b3;
    margin-left: 0.5em; }
    .task-alert-bar .progress-bar-frame .bar {
      background-color: #0077b3;
      height: 0.6em; }
  .task-alert-bar.hidden {
    bottom: -1.8em; }
  .task-alert-bar A {
    color: #0077b3; }
    .task-alert-bar A:link, .task-alert-bar A:visited {
      text-decoration: none; }
    .task-alert-bar A:hover {
      color: #99ddff; }
.upload-progress {
  position: fixed;
  right: 1em;
  bottom: 3em;
  font-size: 1.2em;
  font-weight: bold;
  color: #eeeeee;
  background-color: #aa0000;
  padding: 0.5em 0.5em 0.5em 0.5em; }
* {
  box-sizing: border-box;
  font-family: sans-serif; }
  *:focus {
    outline-color: #fca326; }

body {
  overflow: hidden; }

.application {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%; }

.page-view-port {
  flex: 3 1 800px;
  position: relative;
  background-color: #ffffff; }
  .page-view-port .scroll-box {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 0 2em 1.5em 2em; }

/*# sourceMappingURL=styles.css.map*/